<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	crossorigin="anonymous">

<title>Listar Libros</title>
</head>
<body>

	<div class="my-3 text-center">

		<h1>
			<a href="/" style="text-decoration: none; color: black">Libros
				Manager</a>
		</h1>
	</div>

	<!-- BOTON AGREGAR Y BUSCADOR-->
	<section class="container">
		<div class="row">
			<div class="col">
				<div class="">
					<button type="button" class="btn btn-success me-md-2"
						data-bs-toggle="modal" data-bs-target="#addModal">Agregar
						Libro</button>
				</div>
			</div>

			<div class="col">

				<form th:action="@{/findByTitleAuth}" modelAttribute="libro"
					method="POST">

					<div class="input-group mb-3">

						<input type="text" class="form-control"
							placeholder="Ingrese Titulo del libro" aria-label="Autor"
							name="titulo"> <input type="text" class="form-control"
							placeholder="Ingrese Autor del libro" aria-label="Autor"
							name="autor">
						<button class="btn btn-outline-secondary" type="submit"
							id="button-addon2">Buscar</button>

					</div>

				</form>

			</div>

		</div>
	</section>


	<!--TABLE-->
	<section class="container my-4">
		<table class="table" id="table">
			<thead>
				<tr>
					<th scope="col">Titulo</th>
					<th scope="col">Autor</th>
					<th scope="col">Año</th>
					<th scope="col">Editorial</th>
					<th scope="col">Stock</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="libro:${libroVO.getLibros()}">

					<td th:text="${libro.getTitulo()}" />
					<td th:text="${libro.getAutor()}" />
					<td th:text="${libro.getAnio()}" />
					<td th:text="${libro.getEditorial()}" />
					<td
						th:text="${libro.getCopiasDisponibles() == 0 } ? 'No Disponible': 'Disponible'" />
					<td><a
						th:href="@{/findById/?idLibro={id}(id=${libro.idLibro})}"
						class="btn btn-primary btn-sm mx-2">Editar</a> <a
						th:href="@{/deleteLibro/?idLibro={id}(id=${libro.idLibro})}"
						class="btn btn-danger btn-sm mx-1">Eliminar</a>
	
				</tr>
			</tbody>
		</table>
	</section>

	<!-- MODAL ADD -->
	<div class="modal fade" id="addModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">

		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">

			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title" id="title">Agregar Libro</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>

				<div class="modal-body">

					<form th:action="@{/addLibro}" modelAttribute="libro" method="POST">

						<div>

							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">Titulo</span> <input
									type="text" class="form-control" placeholder="Titulo Libro"
									name="titulo" id="titulo">
							</div>

							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">Autor</span> <input
									type="text" class="form-control" placeholder="Autor Libro"
									name="autor" id="autor">
							</div>

							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">Año</span> <input
									type="text" class="form-control" placeholder="2021" name="anio"
									id="anio">
							</div>

							<div class="input-group mb-3">
								<span class="input-group-text" id="basic-addon1">Editorial</span>
								<input type="text" class="form-control"
									placeholder="Casa Editorial" name="editorial" id="editorial">
							</div>


							<div class="mb-3">
								<label class="input-label">Copias disponibles</label> <input
									type="text" class="form-control" placeholder="50"
									name="copiasDisponibles" id="copiasDisponibles">
							</div>

						</div>

						<div>

							<button type="button" class="btn btn-light"
								data-bs-dismiss="modal">Cancelar</button>

							<button type="submit" class="btn btn-dark">Guardar</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>

</body>
</html>